* {
	margin: 0;
	padding: 0;
}

BODY {
	background: #FFFFFF;
	margin: 0 auto;
	padding: 0;
	font-family: Arial, Verdana, Tahoma, 'Trebuchet MS', sans-serif;
	font-size: 14px;
}

H1 {
	color: #333333;
	font-family: Tahoma, 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0 15px 0;
}

H5 {
	color: #8C8C8C;
	font-family: Tahoma, 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	white-space: nowrap;
	margin: 5px 0 10px 0;
}

TABLE {
	margin: 10px 0px 10px 0px;
}

TD,P {
	font-family: Tahoma, 'Trebuchet MS', Verdana, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
}

IMG {
	border: 0;
}


A {
	color: #616060;
	text-decoration: none;
}

* :focus {
	outline: none;
}

#offline #pageContent {
	margin: 120px auto;
	width: 500px;
	padding: 20px;
	border: 1px #868585 solid;
}

#offline #pageContent .content {
	margin: 0 auto;
	width: 450px;
	text-align: center;
}